<h1> Showing selected new Article</h1>

<p>Article ID: <%= @article.id %></p>
<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
<p>Created Time: <%= @article.created_at %></p>
<p>Updated Time: <%= @article.updated_at %></p>


